
.background {
    background-image: url('http://localhost:3000/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Oxygen', sans-serif;
    color: white; 
}

.logo {
    height: 150px;
    position: absolute;
    top: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}

.title {
    font-size: 10rem;     
}

.sub-header {
    max-width: 40vw;
    text-align: left;
}
 
.outlined-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    /* font-weight: 700; */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
    margin: 10px;

}